<mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Survey Type:</ng-template>
            <mat-form-field>
                    <mat-select placeholder="Select" formControlName="surveyTypeSelect" #surveyType required>
                        <mat-option *ngFor="let type of surveyTypes" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
              <!-- <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required> -->
            </mat-form-field>
            <div>
              <button mat-raised-button class="example-button" color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Title for survey</ng-template>
            <mat-form-field>
                <input matInput placeholder="Title" formControlName="secondCtrl" required>
              </mat-form-field>
              <br />
              <mat-form-field *ngIf="surveyType.value!='simpleText'">
                  <input matInput placeholder="URL Link" formControlName="mediaURL" required>
              </mat-form-field>
            <div>
                <button mat-raised-button class="example-button" color="primary" matStepperPrevious (click)="createSurvey()">Create</button>
                <button mat-raised-button class="example-button" color="primary" (click)="stepper.reset()">Reset</button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>