.example-card {
    width: 30%;
    margin: 15px;
    background-color: rgb(217, 255, 242);
  }
  
  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
  }